.first-content {
    width: 21vw;
    height: 17vw;
    background-image: linear-gradient(to top, rgb(58, 58, 58) 0%, rgba(58, 58, 58, 0.5) 15%, rgba(58, 58, 58, 0) 25%, rgba(58, 58, 58, 0) 100%), url('https://www.wanderon.in/triplist/spiti-summer/wanderon-spiti-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
}